@media screen and (max-width: 1200px) {

  #downloads .item {
    width: calc(50% - 20px);
    max-width: 375px;
  }

}

@media screen and (max-width: 900px) {

  #downloads .items {
    justify-content: center;
  }

  #downloads .item {
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 768px) {

  #hamburger {
    display: block;
  }

  #logo img {
    height: 28px;
  }

  h1 {
    font-size: 30px;
  }

  h2, h2.inner {
    font-size: 20px;
  }

  h3 {
    font-size: 24px;
    padding-left: 0;
  }

  header#site-header {
    padding: 0;
  }

  header.site-header .wrap-xl {
    padding: 0 12px;
  }

  nav.pages {
    width: 100%;
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg);
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms;

    ul {
      padding: 0 30px;
      width: 100%;
      flex-wrap: wrap;

      li {
        width: 100%;
        margin-bottom: 20px;

        .top-level-item {
          font-size: 26px;
          margin-bottom: 10px;

          &:after {
            display: none;
          }
        }

        .second-level-item {
          background: var(--bg);
        }
      }
    }

    .dropdown {
      padding: 20px;
      display: block !important;
      position: static;

      li {
        margin-bottom: 5px;
      }
    }
  }

  .landing {
    padding: 140px 0 70px;
    margin-bottom: 70px;
  }

  .landing h2 {
    max-width: none;
  }

  .landing-desc p {
    font-size: 16px;
    max-width: 100%;
  }

  #downloads .item {
    width: 100%;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  #faq {
    margin-bottom: 20px;
  }

  footer {
    flex-wrap: wrap;
  }

  footer > div {
    margin-bottom: 5px;
  }

  .theme-switcher {
    padding-left: 10px;
  }

  .lang-switcher {
    padding-left: 10px;
  }

  .lang-switcher .all-langs {
    width: 100%;
    padding: 15px;
    margin-left: 0 !important;
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    transition: none;
    background-color: var(--bg);
  }

  .subtitle-notices, .notices {
    padding-left: 0;
  }

  .core-value-list {
    flex-wrap: wrap;
  }

  .core-value {
    width: 100% !important;
  }

  #getting-started-steps {
    padding: 80px 0;

    .step {
      padding: 60 30p 30px 30px;

      .step-title {
        font-size: 22px;
      }

      .step-desc {

        p {
          font-size: 14px;
        }
      }
    }
  }

  #app-features {
    padding: 80px 0;

    .feature {
      
    }
  }

}