<section id="using-web-apps">
  <div class="wrap-m">
    <div class="cols">
      <div class="desc-col">
        <h2 class="title"><%- using_web_apps_title %></h2>
        <%- using_web_apps_desc %>
      </div>

      <div class="img-col">
        <a href="/screenshots/server-web-apps-locations.png" target="_blank">
          <img src="/screenshots/thumbs/server-web-apps-locations.png" alt="Cardinal Server showing the web app URLs.">
        </a>
      </div>
    </div>
  </div>
</section>