html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
  list-style: none;
  list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
  max-width: 100%;
}
* {
  box-sizing: border-box;
}




/******************************************/
:root {
  --accent: rgb(234, 103, 103);
  --base-font: 'Open sans', sans-serif;
  --accent-font: 'Yantramanav', sans-serif;
}

body.dark {
  --bg: #272727;
  --bg-2: #353535;
  --bg-3: #3d3d3d;
  --btn-color: #4b4b4b;
  --btn-color-hover: #444444;
  --text-color: #ececec;
  --text-color-2: #d4d4d4;
  --text-color-3: #9e9e9e;
  --text-color-4: #525252;
  --border-color: #494949;
}

body.light {
  --bg: #ffffff;
  --bg-2: #e4e4e4;
  --bg-3: #f1f1f1;
  --btn-color: #cfcfcf;
  --btn-color-hover: #acacac;
  --text-color: #202020;
  --text-color-2: #202020;
  --text-color-3: #6b6b6b;
  --text-color-4: #cecece;
  --border-color: #cecece;
}

html, body {
  font: 400 14px/1.6em var(--base-font);
  background-color: var(--bg);
}

a[href],
a[href]:link,
a[href]:visited { 
  color: var(--text-color);
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

h1 {
  margin-bottom: 25px;
  font: 600 34px var(--base-font);
  color: var(--text-color);
}

h2 {
  margin-bottom: 10px;
  font: 22px var(--base-font);
  color: var(--text-color-2);
}

h3 {
  padding-left: 30px;
  margin-bottom: 25px;
  font: 600 26px var(--base-font);
  color: var(--text-color);
}

h4 {
  margin-bottom: 20px;
  font: 500 22px var(--accent-font);
  color: var(--accent);
}

h5 {
  margin-bottom: 20px;
  font: 600 22px var(--base-font);
  color: var(--accent);
}

h6 {
  margin-bottom: 5px;
  font: 500 16px var(--base-font);
  color: var(--text-color);
}

strong {
  font-weight: 600;
}

p {
  margin-bottom: 20px;
  font: 15px/1.8em var(--base-font);
  color: var(--text-color-2);
}

h3 sup {
  font-size: 14px;
  position: relative;
  top: -0.9em;
}

p sup {
  font-size: 10px;
  position: relative;
  top: -0.5em;
}

em {
  font-style: italic;
}

.wrap-xl {
  width: 100%;
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
}

.wrap-l {
  width: 100%;
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

.wrap-m {
  width: 100%;
  max-width: 950px;
  padding: 0 30px;
  margin: 0 auto;
}

header#site-header {
  height: 72px;
  padding: 0 20px;
  margin-bottom: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: var(--bg);
}

header#site-header .wrap-xl {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header#site-header .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#logo {
  color: var(--text-color);
  font: 25px var(--accent-font);
  letter-spacing: 0.12em;
}

#logo a {
  color: inherit;
  display: flex;
  align-items: center;
}

#logo a:hover {
  text-decoration: none;
}

#logo img {
  height: 36px;
  margin-right: 10px;
}

nav {
  color: var(--text-color);
  font-weight: 600;
  display: flex;
  align-items: center;
}

nav a {
  margin: 0 10px;
}

nav a:last-of-type { margin-right: 0; }
nav a:first-of-type { margin-left: 0; }

.lang-switcher {
  padding-left: 20px;
  display: flex;
  align-items: center;
  user-select: none;
}

.lang-switcher.open .all-langs {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  opacity: 1;
  pointer-events: all;
}

.current-lang {
  color: var(--text-color);
  cursor: pointer;
  white-space: no-wrap;
}

.all-langs {
  width: 0;
  padding: 6px 0;
  margin: 0;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 150ms;
}

.all-langs a {
  margin-right: 7px;
}

.all-langs a:last-of-type {
  margin-right: 0;
}

.theme-switcher {
  padding-left: 20px;
  user-select: none;
}

.theme-switcher svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: block;
}

.--svg {
  display: none;
}

svg path {
  fill: var(--text-color);
}

.home-section {
  margin-bottom: 100px;
}

.first {
  padding-top: 130px;
}

.early-access {
  margin-bottom: 10px;
  font: 12px var(--base-font);
  color: var(--text-color-3);
}

#downloads {
  
}

#downloads .notices {
  padding-left: 30px;
}

.subtitle-notices {
  padding-left: 30px;
  position: relative;
  top: -20px;
}

#downloads .items {
  display: flex;
  flex-wrap: wrap;
}

#downloads .item {
  width: 350px;
  padding: 40px 20px 20px;
  margin-bottom: 40px;
  margin-right: 40px;
  border-radius: 30px;
  flex-shrink: 0;
  background-color: var(--bg-3);
}

#downloads .meta .name {
  text-align: center;
}

#downloads .meta .description {
  margin-bottom: 20px;
  font: 14px/1.6em var(--base-font);
}

#downloads .item .icon {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#downloads .item .icon img {
  width: 130px;
  height: 130px;
}

#downloads .item .features  {
  padding-left: 10px;
  margin-bottom: 30px;
  font: 12px var(--base-font);
}

#downloads .item .features li {
  width: 100%;
  margin-bottom: 8px;
  padding: 0 0 0 10px;
  font: 12px var(--base-font);
  color: var(--text-color-2);
  position: relative;
}

#downloads .item .features li a {
  color: var(--accent);
}

#downloads .item .features li:before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 100%;
  position: absolute;
  top: 7px;
  left: 0;
  background-color: var(--accent);
}

#downloads .item.large {
  width: 100%;
  display: flex;
  align-items: center;
}

#downloads .item.large .icon {
  width: 160px;
  height: 160px;
  margin-bottom: 0;
}

#downloads .item.large .icon img {
  width: 100%;
  height: 100%;
}

#downloads .item.large .meta {
  padding-left: 20px;
  flex-shrink: 1;
}

#downloads .meta .platforms {

}

#downloads .meta .platforms .btn {
  width: 100%;
  margin-bottom: 5px;
  justify-content: center;
}

.btn {
  padding: 11px 17px;
  margin: 0 10px 0 0;
  color: var(--text-color-2);
  border-radius: 4px;
  cursor: pointer;
  font: 14px var(--base-font);
  background: var(--btn-color);
  display: inline-flex;
  align-items: center;
  user-select: none;
  transition: all 150ms;
}

.btn:hover {
  text-decoration: none !important;
  background-color: var(--btn-color-hover);
}

.btn svg {
  width: 21px;
  margin-right: 11px;
  fill: var(--text-color);
}

.btn sup {
  position: relative;
  top: -2px;
  font-size: 11px;
}

.btn sup.beta {
  margin-left: 4px;
}

.download-agreement {
  font: 10px var(--base-font);
  color: var(--text-color-3);
}

#features {
  
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 30px;
  background-color: var(--bg-2);
}

.feature .name {

}

.feature .info p {
  margin-bottom: 0;
  font: 15px/1.6em var(--base-font);
}

footer {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer > div {
  margin: 0 20px;
  font: 13px var(--base-font);
  color: var(--text-color-2);
}

footer .by {
  display: flex;
  align-items: center;
}

footer .by a {
  margin: 0 5px;
}

footer .attributions {
  width: 100%;
  padding-top: 20px;
  font: 10px var(--base-font);
  color: var(--text-color-4);
  text-align: center;
}

footer .attributions a {
  color: var(--text-color-4) !important;
}

footer .attributions a:hover {
  text-decoration: none;
}

#terms-and-conditions {
  margin-bottom: 100px;
}

#privacy-policy {
  margin-bottom: 100px;
}

@media screen and (max-width: 900px) {

  #downloads .items {
    justify-content: center;
  }

  #downloads .item {
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (max-width: 768px) {

  #logo img {
    height: 28px;
  }

  .first {
    padding-top: 110px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 24px;
    padding-left: 0;
  }

  header#site-header {
    padding: 0;
  }

  header.site-header .wrap-xl {
    padding: 0 12px;
  }

  #landing {
    margin-bottom: 70px;
  }

  #landing h2 {
    max-width: none;
  }

  #downloads .item {
    width: 100%;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  #faq {
    margin-bottom: 20px;
  }

  footer {
    flex-wrap: wrap;
  }

  footer > div {
    margin-bottom: 5px;
  }

  .theme-switcher {
    padding-left: 10px;
  }

  .lang-switcher {
    padding-left: 10px;
  }

  .lang-switcher .all-langs {
    width: 100%;
    padding: 15px;
    margin-left: 0 !important;
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    transition: none;
    background-color: var(--bg);
  }

  .subtitle-notices, .notices {
    padding-left: 0;
  }

  .feature-list {
    flex-wrap: wrap;
  }

  .feature {
    width: 100%;
  }

}